{% extends 'base.html' %}
{% block content %}

 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login In</h1>
            <p class="lead fw-normal text-white-50 mb-0">Access Your Account </p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <br><br>
            <div class="col-8">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <input type="text" class="form-control"  name="username" placeholder="Username">
                    </div>
                    <div class="mb-3">
                      <input type="password" class="form-control" name="password" placeholder="Password">
                      <div class="form-text">We'll never share your password with anyone else.</div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
            </div>
        </center>
    </div>
</div>
<br><br><br><br><br>
{% endblock %}