{% extends 'base.html' %}
{% block content %}



<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
                <div class="card">
                    <div class="card-header">
                      Order {{ order.id }} - ${{ order.amount_paid }}
                    </div>
                    <div class="card-body">
                      <strong>Email:</strong> {{ order.email }} <br>
                      {% if order.date_shipped %}
                      <strong>Date Shipped:</strong> {{ order.date_shipped }}
                      {% else %}
                      <strong>Date Ordered:</strong> {{ order.date_ordered }} 
                      {% endif %}
                      <br>
                      <strong>Full Name:</strong> {{ order.full_name }} <br>
                      <strong>Shipping Address:</strong> <pre>{{ order.Shipping_address }}</pre>

                      <strong>Items:</strong><br>
                      {% for item in order_item %}
                        {{ item.product }} - {{ item.quantity }} - {{ item.price }} <br>
                      {% endfor %}

                      <br><br>
                      {% if not order.shipped %}
                      <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="shipping_status" value="True">
                        <button type="submit" class="btn btn-success">Mark as Shipped</button>
                      </form>
                      {% else %}
                      <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="shipping_status" value="False">
                        <button type="submit" class="btn btn-danger">Mark as Not Shipped</button>
                      </form>
                      {% endif %}
                    </div>
                  </div>
            </div>
            
        </center>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>    

{% endblock %}