{% extends 'base.html' %}
{% block content %}

 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to KavezShop </p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align = 'justify'>
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget maximus orci. Quisque feugiat varius tortor, tristique cursus urna consequat tincidunt. Proin nisi nisl, pharetra eu felis id, ornare hendrerit sem. Nulla eget lorem at tortor sagittis vestibulum. Suspendisse sed nunc tempus, iaculis libero eu, malesuada nisl. Aenean scelerisque urna sit amet fermentum congue. Nullam ac orci vehicula, semper ipsum in, blandit magna. Ut non purus arcu. Praesent facilisis rutrum magna, at fermentum elit congue ut. In nec libero vitae nunc pretium semper ac sed ipsum. Suspendisse quis pharetra sem.
                <br>
                Nunc nec est sed lorem semper faucibus. Donec posuere, purus non tristique dapibus, mauris mi porta orci, sollicitudin efficitur felis dui ut orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut facilisis aliquet nibh eget dictum. Nulla consequat vel turpis vel facilisis. Quisque ac leo non velit maximus scelerisque eget id odio. Nam turpis purus, dignissim nec efficitur sit amet, consequat id justo. Proin eget blandit turpis, ut varius metus. Duis at fermentum nulla, ac pharetra mi. Aliquam pellentesque velit ultricies, ullamcorper augue in, elementum risus. Phasellus vitae orci felis. Sed condimentum justo odio. Suspendisse arcu arcu, pharetra at nibh sed, luctus faucibus dolor. Donec blandit ex id dui euismod semper. In interdum accumsan urna, quis eleifend sapien sodales id.
                <br>
                Aenean aliquam mi sed ultricies tincidunt. Phasellus eget sapien bibendum, dictum dolor sed, sagittis ex. Suspendisse commodo facilisis mauris eget semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi tempus, sapien et venenatis aliquet, nibh mauris posuere orci, in dignissim eros magna et dui. Aliquam nisl magna, aliquam quis condimentum in, vehicula gravida urna. Morbi quis molestie ipsum, in sollicitudin erat. Vivamus egestas ac neque non porttitor.
                <br>
                </p>
            </div>
            
        </center>
    </div>
</div>
<br><br><br>

{% endblock %}